@import "scss/variables";
@import "scss/mixins";

$header-border: $grey-light;
$header-color: $purple;
$header-color-focus: $pink;
$header-search-bg: #fff;

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include responsive-width();
  margin: 0 auto;
  padding-top: $gutter;

  &__container {
    position: relative;
    margin-bottom: $gutter-large;
    padding: 0 $gutter;
    border-bottom: 1px solid $header-border;
    background: lighten($header-border, 20%);

    @include breakpoint-up(sm) {
      padding: 0;
    }
  }

  &__mobile-menu {
    font-size: $font-size * 1.5;

    @include breakpoint-up(sm) {
      display: none;
    }
  }

  &__logo {
    flex: 0 0 200px;
  }

  &__search {
    display: none;

    @include breakpoint-up(sm) {
      display: block;
      width: 215px;
    }

    @include breakpoint-up(md) {
      flex: 0 0 400px;
      width: auto;
    }
  }

  &__nav {
    flex: 1 0 100%;
    margin-top: $gutter;

    @include breakpoint-up(sm) {
      &:before {
        position: absolute;
        right: 0;
        bottom: $gutter-large + $gutter;
        left: 0;
        border-top: 1px solid $header-border;
        content: '';
      }
    }
  }

  &__cart {
    @include breakpoint-up(sm) {
      flex-basis: 260px;
    }
  }
}

.header-search {
  display: flex;
  height: 40px;

  &__input {
    flex-grow: 1;
    width: 215px;
    padding: 0 0 0 $gutter;
    font-size: $font-size;
    outline: none;
    border: 1px solid $header-color;
    border-right: none;
    border-radius: $border-radius 0 0 $border-radius;
    background: $header-search-bg;
    transition: border-color $transition-duration;

    &:focus {
      border-color: $header-color-focus;

      + .header-search__button {
        border-color: $header-color-focus;
      }
    }

    &::placeholder {
      font-style: italic;
    }
  }

  &__button {
    padding: 0 $gutter 0 0;
    font-size: $font-size * 1.2;
    color: $header-color;
    cursor: pointer;
    border: 1px solid $header-color;
    border-left: none;
    border-radius: 0 $border-radius $border-radius 0;
    background: $header-search-bg;
    transition: color $transition-duration;

    &:hover {
      color: $header-color-focus;
    }
  }
}

.header-menu {
  display: none;
  margin: 0 -#{$gutter};

  @include breakpoint-up(sm) {
    display: flex;
  }

  &__item {
    display: block;
    padding: $gutter;
  }
}
