<header class="header">
  <div class="header__logo">
    <img src="/assets/OfficeSupplies.svg" alt="OfficeSupplies"/>
  </div>

  <form class="header__search">
    <input type="search" placeholder="Search..."/>
    <button>Search</button>
  </form>

  <app-cart></app-cart>

  <nav class="header__nav">
    <ul class="header-menu">
      <li class="header-menu__item">
        <a href="#">All our products</a>
      </li>

      <li class="header-menu__item">
        <a href="#">Inspiration for the office</a>
      </li>

      <li class="header-menu__item">
        <a href="#">About OS</a>
      </li>
    </ul>
  </nav>
</header>
