<header class="header">
  <div class="header__logo">
    <img src="/assets/OfficeSupplies.svg" alt="OfficeSupplies"/>
  </div>

  <form class="header__search">
    <input type="search" placeholder="Search..."/>
    <button>Search</button>
  </form>

  <div class="header__cart">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <span>2st</span>
    <strong>565,00 kr</strong>
    <a href="#">Checkout</a>
  </div>

  <nav class="header__nav">
    <ul class="header-menu">
      <li class="header-menu__item">
        <a href="#">All our products</a>
      </li>

      <li class="header-menu__item">
        <a href="#">Inspiration for the office</a>
      </li>

      <li class="header-menu__item">
        <a href="#">About OS</a>
      </li>
    </ul>
  </nav>
</header>
