@import "scss/variables";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $gutter-large;
  padding: $gutter $gutter-large;
  background: #eee;

  &__nav {
    flex: 1 0 100%;
  }
}

.header-menu {
  display: flex;
  margin: $gutter -#{$gutter} 0;

  &__item {
    margin: 0 $gutter;
  }
}
