<header>
  <div>
    <img src="/assets/OfficeSupplies.svg" alt="OfficeSupplies" />
  </div>

  <form>
    <input type="search" placeholder="Search..." />
    <button>Search</button>
  </form>

  <div>
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <span>2st</span>
    <strong>565,00 kr</strong>
    <a href="#">Checkout</a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="#">All our products</a>
      </li>

      <li>
        <a href="#">Inspiration for the office</a>
      </li>

      <li>
        <a href="#">About OS</a>
      </li>
    </ul>
  </nav>
</header>

<div>
  <section>
    <div>
      <h1>Paper</h1>

      <form>
        <div>
          <span>565,00 kr</span>
          <span>670 kr</span>
        </div>

        <select>
          <option>White</option>
          <option>Blue</option>
          <option>Red</option>
          <option>Ping</option>
        </select>

        <button>Buy</button>
      </form>

      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
          sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
          tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
          sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
          tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
          sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
          tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
          sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
          tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
      </div>

      <a href="#">Read more</a>
    </div>

    <div>
      <div>
        <img src="" alt="" />
      </div>

      <ul>
        <li><img src="/assets/products/paper/paper1.jpg" alt="Paper1" /></li>
        <li><img src="/assets/products/paper/paper2.jpg" alt="Paper2" /></li>
        <li><img src="/assets/products/paper/paper3.jpg" alt="Paper3" /></li>
      </ul>
    </div>

    <div>
      <h2>Paper is awesome!</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
    </div>

    <div>
      <h2>Paper is awesome!</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
    </div>

    <div>
      <h2>Paper is awesome!</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
        sit amet la.</p>
    </div>
  </section>

  <aside>
    <nav>
      <ul>
        <li><a href="#">Paper clips</a></li>
        <li><a href="#">Post-it notes</a></li>
        <li><a href="#">Staples</a></li>
        <li><a href="#">Hole punches</a></li>
        <li><a href="#">Binders</a></li>
        <li><a href="#">Staplers</a></li>
        <li><a href="#">Laminators</a></li>
        <li><a href="#">Writing utensils</a></li>
        <li><a href="#">Paper</a></li>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Printers</a></li>
        <li><a href="#">Fax machines</a></li>
        <li><a href="#">Photocopiers</a></li>
        <li><a href="#">Cash registers</a></li>
        <li><a href="#">Office furniture</a></li>
        <li><a href="#">Chairs</a></li>
        <li><a href="#">Cubicles</a></li>
        <li><a href="#">Filing cabinet</a></li>
        <li><a href="#">Armoire desks</a></li>
      </ul>
    </nav>
  </aside>
</div>

<footer>
  <div>
    <img src="/assets/OfficeSupplies.svg" alt="OfficeSupplies" />
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus
      mollis orci, sed rhoncus sapien nunc eget odio.</p>
  </div>

  <div>
    <h4>Bestsellers</h4>

    <ul>
      <li><a href="#">A4</a></li>
      <li><a href="#">A4</a></li>
      <li><a href="#">A5</a></li>
      <li><a href="#">A5</a></li>
      <li><a href="#">Pens</a></li>
      <li><a href="#">Pens</a></li>
      <li><a href="#">Staplers</a></li>
      <li><a href="#">Staplers</a></li>
    </ul>
  </div>

  <div>
    <h4>We're social!</h4>

    <ul>
      <li><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
    </ul>
  </div>
</footer>
