<footer class="footer">
  <div class="footer__logo">
    <img src="/assets/OfficeSupplies.svg" alt="OfficeSupplies"/>
  </div>

  <div class="footer__copy">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus
      mollis orci, sed rhoncus sapien nunc eget odio.</p>
  </div>

  <div class="footer__bestsellers">
    <h4>Bestsellers</h4>

    <ul>
      <li><a href="#">A4</a></li>
      <li><a href="#">A4</a></li>
      <li><a href="#">A5</a></li>
      <li><a href="#">A5</a></li>
      <li><a href="#">Pens</a></li>
      <li><a href="#">Pens</a></li>
      <li><a href="#">Staplers</a></li>
      <li><a href="#">Staplers</a></li>
    </ul>
  </div>

  <div class="footer__social">
    <h4>We're social!</h4>

    <ul>
      <li><a href="#">
        <fa-icon [icon]="faFacebookF"></fa-icon>
      </a></li>
      <li><a href="#">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a></li>
      <li><a href="#">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a></li>
    </ul>
  </div>
</footer>
