<aside>
  <nav>
    <ul class="aside">
      <li><a class="aside__item" href="#">Paper clips</a></li>
      <li><a class="aside__item" href="#">Post-it notes</a></li>
      <li><a class="aside__item" href="#">Staples</a></li>
      <li><a class="aside__item" href="#">Hole punches</a></li>
      <li><a class="aside__item" href="#">Binders</a></li>
      <li><a class="aside__item" href="#">Staplers</a></li>
      <li><a class="aside__item" href="#">Laminators</a></li>
      <li><a class="aside__item" href="#">Writing utensils</a></li>
      <li><a class="aside__item aside__item--active" href="#">Paper</a></li>
      <li><a class="aside__item" href="#">Computers</a></li>
      <li><a class="aside__item" href="#">Printers</a></li>
      <li><a class="aside__item" href="#">Fax machines</a></li>
      <li><a class="aside__item" href="#">Photocopiers</a></li>
      <li><a class="aside__item" href="#">Cash registers</a></li>
      <li><a class="aside__item" href="#">Office furniture</a></li>
      <li><a class="aside__item" href="#">Chairs</a></li>
      <li><a class="aside__item" href="#">Cubicles</a></li>
      <li><a class="aside__item" href="#">Filing cabinet</a></li>
      <li><a class="aside__item" href="#">Armoire desks</a></li>
    </ul>
  </nav>
</aside>
