<div class="product__details">
  <h1>Paper</h1>

  <form>
    <div>
      <span>565,00 kr</span>
      <span>670 kr</span>
    </div>

    <select>
      <option>White</option>
      <option>Blue</option>
      <option>Red</option>
      <option>Ping</option>
    </select>

    <button>Buy</button>
  </form>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
  </div>

  <a href="#">Read more</a>
</div>

<div class="product__gallery product-gallery">
  <div class="product-gallery__item product-gallery__item--main">
    <img src="/assets/products/paper/paper1.jpg" alt="Paper1"/>
  </div>

  <ul class="product-gallery__list">
    <li class="product-gallery__item">
      <img src="/assets/products/paper/paper1.jpg" alt="Paper1"/>
    </li>
    <li class="product-gallery__item">
      <img src="/assets/products/paper/paper2.jpg" alt="Paper2"/>
    </li>
    <li class="product-gallery__item">
      <img src="/assets/products/paper/paper3.jpg" alt="Paper3"/>
    </li>
  </ul>
</div>

<div class="product__features">
  <div class="product__feature">
    <h2>Paper is awesome!</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
  </div>

  <div class="product__feature">
    <h2>Paper is awesome!</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

  <div class="product__feature">
    <h2>Paper is awesome!</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
      sit amet la.</p>
  </div>
</div>
