<div class="product__details">
  <h1>{{(product$ | async).name}}</h1>

  <form>
    <div>
      <span>{{formatPrice((product$ | async).price)}}</span>
      <span>{{formatPrice((product$ | async).priceOld)}}</span>
    </div>

    <select>
      <option *ngFor="let variant of (product$ | async).variants">{{variant}}</option>
    </select>

    <button (click)="addToCart($event)">Buy</button>
  </form>

  <div [innerHTML]="(product$ | async).desc"></div>

  <a [className]="'product__description' + (showFullDesc ? ' product__description--full' : '')"
     (click)="toggleShowFullDesc($event)" href="#">Read {{showFullDesc ? 'less': 'more'}}</a>
</div>

<div class="product__gallery product-gallery">
  <div class="product-gallery__item product-gallery__item--main">
    <div *ngIf="(product$ | async).activeImage !== null">
      <img
        [src]="(product$ | async).images[(product$ | async).activeImage].src"
        [alt]="(product$ | async).images[(product$ | async).activeImage].alt"/>
    </div>
  </div>

  <ul class="product-gallery__list">
    <li class="product-gallery__item" *ngFor="let image of (product$ | async).images; index as i">
      <img [src]="image.src" [alt]="image.alt" (click)="setImageAsMain($event)" [attr.data-index]="i"/>
    </li>
  </ul>
</div>

<div class="product__features">
  <div class="product__feature" *ngFor="let feature of (product$ | async).features" [innerHTML]="feature"></div>
</div>
